//<МИКСИНЫ>======================================================================================================
@import url('mixins.scss');
//</МИКСИНЫ>=====================================================================================================

//<ШРИФТЫ>======================================================================================================

//<Подключение Шрифтов>============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//</Подключение Шрифтов>============================================================================================

//<Шрифт по умолчанию>==============================================================================================
$fontfamily:"Lato";
//</Шрифт по умолчанию>==============================================================================================

//</ШРИФТЫ>======================================================================================================

//<ПЕРЕМЕННЫЕ>===================================================================================================
$minwidth:320px;
//</ПЕРЕМЕННЫЕ>===================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================================================================
@import 'null.scss';

body{

}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
overflow: hidden;
min-height: 100%;
}
//</ОБОЛОЧКА>=====================================================================================================

//<ОСНОВНАЯ СЕТКА>=====================================================================================================
.container{
max-width: 1130px;
padding: 0px 15px;
margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>=====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================================================
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================================================

//<ОСНОВНАЙ БЛОК>=====================================================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	font-size: 0;
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.content {
	
}
//====================================================================================
.generation {
	padding: 120px 0;
	background-color: #f7f7f7;
	&__block {}
	@media (max-width: 900px) {
		padding: 80px 0;
	}
	@media (max-width: 600px) {
		padding: 30px 0;
	}
}
.container {
}
.block {
	text-align: center;
	&__icon {
		margin: 0px 0px 30px 0px;
	}
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 24px;
		letter-spacing: 3.6px;
		margin: 0px 0px 18px 0px;
	}
	&__text {
		color: #848789;
		font-size: 18px;
		line-height: 34px;

		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			&:after{
				content: "";
				display: block;
				margin: 35px auto 0 auto;
				width: 50px;
				height: 1px;
				background-color: #ebebeb;
			}
	}
	}
}

//====================================================================================
.brands {
	&__row {
		display: flex;

	}
	&__item {
	}
	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}
	&__image {
		padding: 0px 0px 37.51% 0px;
	}
}
.brands_column {
	flex: 0 1 33.333%;
}
.brands_column_b {
	flex: 0 1 66.667%;
}
.item {
	display: block;
	position: relative;
	height: 100%;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		background-color: rgba(100,194,158,0.5);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover{
		.item__logo{
			opacity: 1;
			visibility: visible;
		}
	}
}
.ibg {
}


//</ОСНОВНАЙ БЛОК>=====================================================================================================
